
h1{
  text-align: center;
  color: whitesmoke;
  background-color: black;
  border-radius: 4px;
  margin:100px;
  height: 50px;
}
.fas{
  color: chartreuse;
   font-size:53px
}
 .fa-trash-alt{
  color:red;
  font-size:35px
}
.fa-check-circle{
  color:white;
  font-size: 35px;
}
.todo{
  display: block;
  text-align: center;
}
.List{
  display: block;
  margin:100px;
}
.icone{
  display: flex;
}
.item{

  background-color: royalblue;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.far{
  color:chartreuse;
  font-size: 35px;
}
.addItem{
  display: flex;
  justify-content:baseline
}
input{
  width:95%
}

.App{
  border:solid 2px gray;
}